In [1]:
from pathlib import Path

import numpy as np
import pandas as pd

In [2]:
nb_samples_by_batch = 10000

quantity_of_interest = ["mean", "variance"]

In [3]:
input_parameters = pd.read_parquet("./input_samples.parquet")
input_parameters

         energy_transfert       tr_0  gamma_tr    lambda_0  gamma_lambda
0                0.322816   9.083201 -0.319703  140.064326     -0.059983
1                0.003590   9.083201 -0.319703  140.064326     -0.059983
2                0.322816  41.212428 -0.319703  140.064326     -0.059983
3                0.322816   9.083201 -0.140274  140.064326     -0.059983
4                0.322816   9.083201 -0.319703  323.008823     -0.059983
...                   ...        ...       ...         ...           ...
1190695          0.251086  18.763531 -0.078224   88.508398     -0.361641
1190696          0.251086  34.402784 -0.371647   88.508398     -0.361641
1190697          0.251086  34.402784 -0.078224  473.318956     -0.361641
1190698          0.251086  34.402784 -0.078224   88.508398     -0.123918
1190699          0.251086  34.402784 -0.078224   88.508398     -0.361641

[1190700 rows x 5 columns]

In [4]:
output_sobol_index_filepath = Path("./output_sobol_index.parquet")
if output_sobol_index_filepath.exists():
    output_sobol_index = pd.read_parquet(output_sobol_index_filepath)
else:
    output_sobol_index = pd.DataFrame(columns=quantity_of_interest)
    output_sobol_index.to_parquet(output_sobol_index_filepath)
output_sobol_index

Empty DataFrame
Columns: [mean, variance]
Index: []

In [5]:
def batch_cost_function_execution(input_parameters: pd.DataFrame) -> np.ndarray:
    return np.full((input_parameters.shape[0], len(quantity_of_interest)), 1)

In [6]:
for batch_number in range(0, (len(input_parameters) // nb_samples_by_batch) + 1):
    min_batch = batch_number * nb_samples_by_batch
    max_batch = min(batch_number * nb_samples_by_batch + nb_samples_by_batch, len(input_parameters))
    print(f"Batch {batch_number} = {min_batch} : {max_batch}")

    if not (max_batch) in output_sobol_index.index:
        batch_samples = input_parameters.iloc[
            batch_number * nb_samples_by_batch : batch_number * nb_samples_by_batch + nb_samples_by_batch
        ]

        results = batch_cost_function_execution(batch_samples)

        output_sobol_index = pd.concat(
            [output_sobol_index, pd.DataFrame(results, columns=quantity_of_interest, index=batch_samples.index)]
        )
        output_sobol_index.to_parquet(output_sobol_index_filepath)

Batch 0 = 0 : 10000
Batch 1 = 10000 : 20000
Batch 2 = 20000 : 30000
Batch 3 = 30000 : 40000
Batch 4 = 40000 : 50000
Batch 5 = 50000 : 60000
Batch 6 = 60000 : 70000
Batch 7 = 70000 : 80000
Batch 8 = 80000 : 90000
Batch 9 = 90000 : 100000
Batch 10 = 100000 : 110000
Batch 11 = 110000 : 120000
Batch 12 = 120000 : 130000
Batch 13 = 130000 : 140000
Batch 14 = 140000 : 150000
Batch 15 = 150000 : 160000
Batch 16 = 160000 : 170000
Batch 17 = 170000 : 180000
Batch 18 = 180000 : 190000
Batch 19 = 190000 : 200000
Batch 20 = 200000 : 210000
Batch 21 = 210000 : 220000
Batch 22 = 220000 : 230000
Batch 23 = 230000 : 240000
Batch 24 = 240000 : 250000
Batch 25 = 250000 : 260000
Batch 26 = 260000 : 270000
Batch 27 = 270000 : 280000
Batch 28 = 280000 : 290000
Batch 29 = 290000 : 300000
Batch 30 = 300000 : 310000
Batch 31 = 310000 : 320000
Batch 32 = 320000 : 330000
Batch 33 = 330000 : 340000
Batch 34 = 340000 : 350000
Batch 35 = 350000 : 360000
Batch 36 = 360000 : 370000
Batch 37 = 370000 : 380000
Batch 38 = 380000 : 390000
Batch 39 = 390000 : 400000
Batch 40 = 400000 : 410000
Batch 41 = 410000 : 420000
Batch 42 = 420000 : 430000
Batch 43 = 430000 : 440000
Batch 44 = 440000 : 450000
Batch 45 = 450000 : 460000
Batch 46 = 460000 : 470000
Batch 47 = 470000 : 480000
Batch 48 = 480000 : 490000
Batch 49 = 490000 : 500000
Batch 50 = 500000 : 510000
Batch 51 = 510000 : 520000
Batch 52 = 520000 : 530000
Batch 53 = 530000 : 540000
Batch 54 = 540000 : 550000
Batch 55 = 550000 : 560000
Batch 56 = 560000 : 570000
Batch 57 = 570000 : 580000
Batch 58 = 580000 : 590000
Batch 59 = 590000 : 600000
Batch 60 = 600000 : 610000
Batch 61 = 610000 : 620000
Batch 62 = 620000 : 630000
Batch 63 = 630000 : 640000
Batch 64 = 640000 : 650000
Batch 65 = 650000 : 660000
Batch 66 = 660000 : 670000
Batch 67 = 670000 : 680000
Batch 68 = 680000 : 690000
Batch 69 = 690000 : 700000
Batch 70 = 700000 : 710000
Batch 71 = 710000 : 720000
Batch 72 = 720000 : 730000
Batch 73 = 730000 : 740000
Batch 74 = 740000 : 750000
Batch 75 = 750000 : 760000
Batch 76 = 760000 : 770000
Batch 77 = 770000 : 780000
Batch 78 = 780000 : 790000
Batch 79 = 790000 : 800000
Batch 80 = 800000 : 810000
Batch 81 = 810000 : 820000
Batch 82 = 820000 : 830000
Batch 83 = 830000 : 840000
Batch 84 = 840000 : 850000
Batch 85 = 850000 : 860000
Batch 86 = 860000 : 870000
Batch 87 = 870000 : 880000
Batch 88 = 880000 : 890000
Batch 89 = 890000 : 900000
Batch 90 = 900000 : 910000
Batch 91 = 910000 : 920000
Batch 92 = 920000 : 930000
Batch 93 = 930000 : 940000
Batch 94 = 940000 : 950000
Batch 95 = 950000 : 960000
Batch 96 = 960000 : 970000
Batch 97 = 970000 : 980000
Batch 98 = 980000 : 990000
Batch 99 = 990000 : 1000000
Batch 100 = 1000000 : 1010000
Batch 101 = 1010000 : 1020000
Batch 102 = 1020000 : 1030000
Batch 103 = 1030000 : 1040000
Batch 104 = 1040000 : 1050000
Batch 105 = 1050000 : 1060000
Batch 106 = 1060000 : 1070000
Batch 107 = 1070000 : 1080000
Batch 108 = 1080000 : 1090000
Batch 109 = 1090000 : 1100000
Batch 110 = 1100000 : 1110000
Batch 111 = 1110000 : 1120000
Batch 112 = 1120000 : 1130000
Batch 113 = 1130000 : 1140000
Batch 114 = 1140000 : 1150000
Batch 115 = 1150000 : 1160000
Batch 116 = 1160000 : 1170000
Batch 117 = 1170000 : 1180000
Batch 118 = 1180000 : 1190000
Batch 119 = 1190000 : 1190700

In [7]:
output_sobol_index

        mean variance
0          1        1
1          1        1
2          1        1
3          1        1
4          1        1
...      ...      ...
1190695    1        1
1190696    1        1
1190697    1        1
1190698    1        1
1190699    1        1

[1190700 rows x 2 columns]